-- ================================================
-- KLE TECH CANTEEN APP — AIVEN MYSQL SCHEMA
-- Paste this entire file in Aiven Query Editor
-- ================================================

-- ------------------------------------------------
-- USERS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS users (
  id            INT AUTO_INCREMENT PRIMARY KEY,
  firebase_uid  VARCHAR(128) NOT NULL UNIQUE,
  name          VARCHAR(100) NOT NULL,
  email         VARCHAR(150) NOT NULL UNIQUE,
  phone         VARCHAR(15),
  role          ENUM('student', 'lecturer') NOT NULL DEFAULT 'student',
  profile_pic   VARCHAR(500),
  created_at    TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at    TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  INDEX idx_firebase_uid (firebase_uid),
  INDEX idx_email (email)
);

-- ------------------------------------------------
-- CANTEENS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS canteens (
  id            INT AUTO_INCREMENT PRIMARY KEY,
  name          VARCHAR(100) NOT NULL,
  description   TEXT,
  image_url     VARCHAR(500),
  location      VARCHAR(200),
  is_active     BOOLEAN DEFAULT TRUE,
  opening_time  TIME DEFAULT '07:30:00',
  closing_time  TIME DEFAULT '20:00:00',
  created_at    TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ------------------------------------------------
-- STALLS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS stalls (
  id              INT AUTO_INCREMENT PRIMARY KEY,
  canteen_id      INT NOT NULL,
  name            VARCHAR(100) NOT NULL,
  description     TEXT,
  image_url       VARCHAR(500),
  admin_phone     VARCHAR(15) NOT NULL UNIQUE,
  admin_name      VARCHAR(100),
  is_active       BOOLEAN DEFAULT TRUE,
  avg_prep_time   INT DEFAULT 10,
  created_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (canteen_id) REFERENCES canteens(id) ON DELETE CASCADE,
  INDEX idx_canteen (canteen_id),
  INDEX idx_admin_phone (admin_phone)
);

-- ------------------------------------------------
-- MENU ITEMS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS menu_items (
  id            INT AUTO_INCREMENT PRIMARY KEY,
  stall_id      INT NOT NULL,
  name          VARCHAR(150) NOT NULL,
  description   TEXT,
  price         DECIMAL(8,2) NOT NULL,
  image_url     VARCHAR(500),
  category      VARCHAR(80),
  is_available  BOOLEAN DEFAULT TRUE,
  is_veg        BOOLEAN DEFAULT TRUE,
  prep_time_mins INT DEFAULT 10,
  sort_order    INT DEFAULT 0,
  created_at    TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at    TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  FOREIGN KEY (stall_id) REFERENCES stalls(id) ON DELETE CASCADE,
  INDEX idx_stall (stall_id),
  INDEX idx_category (category),
  INDEX idx_price (price)
);

-- ------------------------------------------------
-- CART ITEMS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS cart_items (
  id            INT AUTO_INCREMENT PRIMARY KEY,
  user_id       INT NOT NULL,
  menu_item_id  INT NOT NULL,
  quantity      INT NOT NULL DEFAULT 1,
  added_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (user_id)      REFERENCES users(id) ON DELETE CASCADE,
  FOREIGN KEY (menu_item_id) REFERENCES menu_items(id) ON DELETE CASCADE,
  UNIQUE KEY uq_user_item (user_id, menu_item_id),
  INDEX idx_user (user_id)
);

-- ------------------------------------------------
-- ORDERS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS orders (
  id              INT AUTO_INCREMENT PRIMARY KEY,
  uuid            VARCHAR(36) NOT NULL UNIQUE,
  user_id         INT NOT NULL,
  stall_id        INT NOT NULL,
  status          ENUM('pending','preparing','ready','delivered','cancelled') NOT NULL DEFAULT 'pending',
  priority        ENUM('normal','high') NOT NULL DEFAULT 'normal',
  total_amount    DECIMAL(10,2) NOT NULL,
  payment_id      VARCHAR(100),
  razorpay_order_id VARCHAR(100),
  payment_status  ENUM('pending','paid','failed','refunded') NOT NULL DEFAULT 'pending',
  special_note    TEXT,
  estimated_ready DATETIME,
  created_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  FOREIGN KEY (user_id)  REFERENCES users(id),
  FOREIGN KEY (stall_id) REFERENCES stalls(id),
  INDEX idx_stall_status  (stall_id, status),
  INDEX idx_user_orders   (user_id),
  INDEX idx_uuid          (uuid),
  INDEX idx_priority_time (priority, created_at)
);

-- ------------------------------------------------
-- ORDER ITEMS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS order_items (
  id              INT AUTO_INCREMENT PRIMARY KEY,
  order_id        INT NOT NULL,
  menu_item_id    INT NOT NULL,
  item_name       VARCHAR(150) NOT NULL,
  quantity        INT NOT NULL,
  price_at_order  DECIMAL(8,2) NOT NULL,
  FOREIGN KEY (order_id)     REFERENCES orders(id) ON DELETE CASCADE,
  FOREIGN KEY (menu_item_id) REFERENCES menu_items(id),
  INDEX idx_order (order_id)
);

-- ------------------------------------------------
-- NOTIFICATIONS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS notifications (
  id          INT AUTO_INCREMENT PRIMARY KEY,
  order_id    INT NOT NULL,
  type        ENUM('sms','in_app') NOT NULL DEFAULT 'sms',
  message     TEXT NOT NULL,
  status      ENUM('sent','failed','pending') DEFAULT 'pending',
  sent_at     TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (order_id) REFERENCES orders(id) ON DELETE CASCADE,
  INDEX idx_order_notif (order_id)
);

-- ------------------------------------------------
-- AI LOGS TABLE
-- ------------------------------------------------
CREATE TABLE IF NOT EXISTS ai_logs (
  id          INT AUTO_INCREMENT PRIMARY KEY,
  user_id     INT,
  stall_id    INT,
  log_type    ENUM('chatbot','suggestion','menu_ocr') NOT NULL,
  query       TEXT,
  response    TEXT,
  tokens_used INT,
  created_at  TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (user_id)  REFERENCES users(id) ON DELETE SET NULL,
  FOREIGN KEY (stall_id) REFERENCES stalls(id) ON DELETE SET NULL
);

-- ================================================
-- SEED DATA
-- ================================================

INSERT INTO canteens (id, name, description, image_url, location) VALUES
(1, 'HUB', 'The main food court on campus with multiple specialty stalls.', 'https://images.unsplash.com/photo-1567521464027-f127ff144326?w=800&q=80', 'Central Campus, Ground Floor'),
(2, 'RHK Canteen', 'A cozy canteen offering hearty meals and quick snacks.', 'https://images.unsplash.com/photo-1544025162-d76694265947?w=800&q=80', 'Near RHK Block, Campus North');


